[submodule "cours1-introduction"]
	path = cours1-introduction
	url = git@github.com:ps-pat/mat8186-cours1.git
[submodule "cours2-fondations"]
	path = cours2-fondations
	url = git@github.com:ps-pat/mat8186-cours2.git
[submodule "cours3-debug_profile_benchmark"]
	path = cours3-debug_profile_benchmark
	url = git@github.com:ps-pat/mat8186-cours3.git
[submodule "cours4-oop"]
	path = cours4-oop
	url = git@github.com:ps-pat/mat8186-cours4.git
[submodule "cours5-packaging"]
	path = cours5-packaging
	url = git@github.com:ps-pat/mat8186-cours5.git
[submodule "cours6-tests"]
	path = cours6-tests
	url = git@github.com:ps-pat/mat8186-cours6.git
[submodule "devoir3"]
	path = devoir3
	url = git@github.com:ps-pat/mat8186-devoir3.git
[submodule "cours7-calcul_parallele"]
	path = cours7-calcul_parallele
	url = git@github.com:ps-pat/mat8186-cours7.git
[submodule "devoir1"]
	url = git@github.com:ps-pat/mat8186-devoir1.git
